{% include "header.html" %}

<!-- Page Header -->
<header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <span class="subheading">This is what I do.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!---->
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <h2>I am Zaid Altaf Mukaddam.</h2>
            <p>I am a Student from NMIMS's MPSTME pursuing BTech. in CSE (Cyber Security). As Cyber Security is my
                field, I have also completed an Ethical Hacking training from Internshala and also have been a top
                performer in it.</p>
            <p>Also I am an IBM Certified Data Analyst. I have been doing programming since High School. I have learnt
                many languages such as C, C++, Python, JavaScript, etc. I know frontend and backend programming as
                well.</p>
            <p>I have participated in many CodeChef Contests since 2020; Consequently became a 3 Star Rated Coder
                there.Also, I am HackerRank Certified For Languages such as Python(Basic), JavaScript(Basic),
                Java(Basic), etc.</p>
        </div>
    </div>
</div>

<hr>

{% include "footer.html" %}